.subnavbar {
    background-color: #ebebeb;
    padding: 10px;
}

.category {
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-item {
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(92, 92, 92);
}


.nav-item:hover {
    color: #B3B6A5;
}

.nav-item:last-child {
    margin-right: 0;
}