.subnavbar {
    background-color: #ebebeb;
    padding: 10px;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nav-item {
    margin-right: 10px;
    cursor: pointer;
}

.nav-item:hover {
    color: #B3B6A5;
}

.nav-item:last-child {
    margin-right: 0;
}